{
  "TCP": {
    "443": {
      "HTTPS": true
    }
  },
  "Web": {
    "overseerr-media.tailnet.ts.net:443": {
      "Handlers": {
        "/": {
          "Proxy": "taild9673c.ts.net"
        }
      }
    }
  },
  "AllowFunnel": {
    "overseerr-media.tailnet.ts.net:443": false
  }
}
