TZ=America/New_York
MC_CONTAINER_NAME=minecraft-solo
MC_PORT=25565
MC_TYPE=PAPER
MC_VERSION=LATEST
MC_MEMORY=6G
MC_ENABLE_WHITELIST=false
# Only used when MC_TYPE=AUTO_CURSEFORGE:
# URL of the CurseForge modpack page (example: https://www.curseforge.com/minecraft/modpacks/all-the-mods-9)
CF_PAGE_URL=
# CurseForge API token for automated pack file downloads
CF_API_KEY=
